    <!-- Hero Card -->

    <div class="relative">
      <div class="absolute inset-x-0 bottom-0 h-1/2 bg-gray-100"></div>
      <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
        <div class="relative shadow-xl sm:rounded-2xl sm:overflow-hidden">
          <div class="absolute inset-0">
            <img class="h-full w-full object-cover" src="https://res.cloudinary.com/packs4jobs/image/upload/e_grayscale/v1637235480/ft_fflgqp.png" alt="People">
            <div class="absolute inset-0 bg-gradient-to-r from-yellow-400 to-indigo-600 mix-blend-multiply"></div>
          </div>
          <div class="relative px-4 py-16 sm:px-6 sm:py-24 lg:py-32 lg:px-8">
            <h1 class="text-center text-4xl font-extrabold tracking-tight sm:text-5xl lg:text-6xl">
              <span class="block text-white dmdisplay">Touchez les bons candidats.</span>

            </h1>
            <p class="mt-6 max-w-lg mx-auto text-center text-xl text-indigo-200 sm:max-w-3xl">
              Vos offres sont noyées dans la masse sur les sites d’emploi ? Plus maintenant - nous avons résolu cette situation.
              L'approche de Wizzy transforme une annonce en un aimant à bons candidats qui correspondent vraiment à l'entreprise.<br>Terminé d’embaucher par dépit ou parce qu’il n’y a pas de meilleure alternative.            </p>
            <div class="mt-10 max-w-sm mx-auto dmdisplay sm:max-w-none sm:flex sm:justify-center">
              <div class="space-y-4 sm:space-y-0 sm:mx-auto sm:inline-grid sm:grid-cols-2 sm:gap-5">
                <a href="#" class="flex items-center justify-center px-4 py-3 border border-transparent text-base font-medium rounded-md shadow-sm text-indigo-700 bg-white hover:bg-indigo-50 sm:px-8">
                  Commencer à recruter
                </a>
                <a href="https://qiwie.typeform.com/to/DOFMViEV" class="flex items-center justify-center px-4 py-3 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-indigo-500 bg-opacity-60 hover:bg-opacity-70 sm:px-8">
                  Demo live
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- This example requires Tailwind CSS v2.0+ -->
    <div class="bg-gray-100">
      <div class="max-w-7xl mx-auto py-16 px-4 sm:px-6 lg:px-8">
        <p class="text-center text-sm dmdisplay font-semibold uppercase text-gray-500 tracking-wide">
         Quelques clients qui ont réussi
        </p>
        <div class="mt-6 grid grid-cols-2 gap-8 md:grid-cols-6 lg:grid-cols-5">
          <div class="col-span-1 flex justify-center md:col-span-2 lg:col-span-1">
            <img class="h-12" src="https://tailwindui.com/img/logos/tuple-logo-gray-400.svg" alt="Tuple">
          </div>
          <div class="col-span-1 flex justify-center md:col-span-2 lg:col-span-1">
            <img class="h-12" src="https://tailwindui.com/img/logos/mirage-logo-gray-400.svg" alt="Mirage">
          </div>
          <div class="col-span-1 flex justify-center md:col-span-2 lg:col-span-1">
            <img class="h-12" src="https://tailwindui.com/img/logos/statickit-logo-gray-400.svg" alt="StaticKit">
          </div>
          <div class="col-span-1 flex justify-center md:col-span-2 md:col-start-2 lg:col-span-1">
            <img class="h-12" src="https://tailwindui.com/img/logos/transistor-logo-gray-400.svg" alt="Transistor">
          </div>
          <div class="col-span-2 flex justify-center md:col-span-2 md:col-start-4 lg:col-span-1">
            <img class="h-12" src="https://tailwindui.com/img/logos/workcation-logo-gray-400.svg" alt="Workcation">
          </div>
        </div>
      </div>
    </div>

    <div class="relative pt-16 pb-32 overflow-hidden">
      <div aria-hidden="true" class="absolute inset-x-0 top-0 h-48 bg-gradient-to-b from-gray-100"></div>
      <div class="relative">
        <div class="lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-2 lg:grid-flow-col-dense lg:gap-24">
          <div class="px-4 max-w-xl mx-auto sm:px-6 lg:py-16 lg:max-w-none lg:mx-0 lg:px-0">
            <div>
              <div>
                <span class="h-12 w-12 rounded-md flex items-center justify-center bg-gradient-to-r from-purple-600 to-indigo-600">
                  <svg class="h-6 w-6 text-white" x-description="Heroicon name: outline/inbox" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 13V6a2 2 0 00-2-2H6a2 2 0 00-2 2v7m16 0v5a2 2 0 01-2 2H6a2 2 0 01-2-2v-5m16 0h-2.586a1 1 0 00-.707.293l-2.414 2.414a1 1 0 01-.707.293h-3.172a1 1 0 01-.707-.293l-2.414-2.414A1 1 0 006.586 13H4"></path>
</svg>
                </span>
              </div>
              <div class="mt-6">
                <h2 class="text-3xl dmdisplay font-extrabold tracking-tight text-gray-900">
                  Une analyse réel du candidat idéal
                </h2>
                <p class="mt-4 text-lg text-gray-500">
                  Tout commence par savoir exactement qui vous recherchez. La première étape d'une offre d'emploi réussie est la configuration du profil du candidat idéal, ou ICP. C'est là que vous déterminez pleinement le CV, la génération et la personnalité que votre candidat devrait idéalement avoir.
                </p>
                <div class="mt-6">
                  <a href="#" class="inline-flex dmdisplay bg-gradient-to-r from-purple-600 to-indigo-600 bg-origin-border px-4 py-2 border border-transparent text-base font-medium rounded-md shadow-sm text-white hover:from-purple-700 hover:to-indigo-700">
                    Contactez-nous
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="mt-12 sm:mt-16 lg:mt-0">
            <div class="pl-4 -mr-48 sm:pl-6 md:-mr-16 lg:px-0 lg:m-0 lg:relative lg:h-full">
              <img class="w-full rounded-xl shadow-xl ring-1 ring-black ring-opacity-5 lg:absolute lg:left-0 lg:h-full lg:w-auto lg:max-w-none" src="https://res.cloudinary.com/packs4jobs/image/upload/v1637235642/ft_lq6z9d.png" alt="Inbox user interface">
            </div>
          </div>
        </div>
      </div>
      <div class="mt-24">
        <div class="lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-2 lg:grid-flow-col-dense lg:gap-24">
          <div class="px-4 max-w-xl mx-auto sm:px-6 lg:py-32 lg:max-w-none lg:mx-0 lg:px-0 lg:col-start-2">
            <div>
              <div>
                <span class="h-12 w-12 rounded-md flex items-center justify-center bg-gradient-to-r from-purple-600 to-indigo-600">
                  <svg class="h-6 w-6 text-white" x-description="Heroicon name: outline/sparkles" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 3v4M3 5h4M6 17v4m-2-2h4m5-16l2.286 6.857L21 12l-5.714 2.143L13 21l-2.286-6.857L5 12l5.714-2.143L13 3z"></path>
</svg>
                </span>
              </div>
              <div class="mt-6">
                <h2 class="text-3xl dmdisplay font-extrabold tracking-tight text-gray-900">
                  Rédactions et visuels adaptés au groupe cible
                </h2>
                <p class="mt-4 text-lg text-gray-500">
                  L'offre d'emploi est entièrement conçue pour atteindre et attirer le bon candidat. La forme, le choix de la couleur, la police, … Tous ces éléments jouent un rôle dans la perception que votre candidat aura de votre offre d’emploi. En sachant quelle personnalité vous recherchez, vous savez donc sur quels éléments il portera son attention.
                </p>
                <div class="mt-6">
                  <a href="#" class="inline-flex dmdisplay bg-gradient-to-r from-purple-600 to-indigo-600 bg-origin-border px-4 py-2 border border-transparent text-base font-medium rounded-md shadow-sm text-white hover:from-purple-700 hover:to-indigo-700">
                    Contactez-nous
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="mt-12 sm:mt-16 lg:mt-0 lg:col-start-1">
            <div class="pr-4 -ml-48 sm:pr-6 md:-ml-16 lg:px-0 lg:m-0 lg:relative lg:h-full">
              <img class="w-full rounded-xl shadow-xl ring-1 ring-black ring-opacity-5 lg:absolute lg:right-0 lg:h-full lg:w-auto lg:max-w-none" src="https://res.cloudinary.com/packs4jobs/image/upload/v1637233169/ft_p2jvfl.png" alt="Customer profile user interface">
            </div>
          </div>
        </div>
      </div>
      <div class="mt-24 lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-2 lg:grid-flow-col-dense lg:gap-24">
        <div class="px-4 max-w-xl mx-auto sm:px-6 lg:py-16 lg:max-w-none lg:mx-0 lg:px-0">
          <div>
            <div>
              <span class="h-12 w-12 rounded-md flex items-center justify-center bg-gradient-to-r from-purple-600 to-indigo-600">
                <svg class="h-6 w-6 text-white" x-description="Heroicon name: outline/inbox" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 13V6a2 2 0 00-2-2H6a2 2 0 00-2 2v7m16 0v5a2 2 0 01-2 2H6a2 2 0 01-2-2v-5m16 0h-2.586a1 1 0 00-.707.293l-2.414 2.414a1 1 0 01-.707.293h-3.172a1 1 0 01-.707-.293l-2.414-2.414A1 1 0 006.586 13H4"></path>
</svg>
              </span>
            </div>
            <div class="mt-6">
              <h2 class="text-3xl dmdisplay font-extrabold tracking-tight text-gray-900">
                Campagne éfficace de 30 jours
              </h2>
              <p class="mt-4 text-lg text-gray-500">
                Une offre d’emploi à travers une campagne de 30 jours. Nos spécialistes vous accompagnent pendant 30 jours et échangent avec vous de manière hebdomadaire afin d’assurer une optimisation constante de votre campagne. Tout est mis en place afin d’attirer la perle rare dans votre entreprise et que <spans class="font-extrabold dmdisplay text-yellow-400">vous gardez le controle en sélectionnant les meilleurs candidats</spans>.
              </p>
              <div class="mt-6">
                <a href="#" class="inline-flex dmdisplay bg-gradient-to-r from-purple-600 to-indigo-600 bg-origin-border px-4 py-2 border border-transparent text-base font-medium rounded-md shadow-sm text-white hover:from-purple-700 hover:to-indigo-700">
                  Commencez une campagne
                </a>
              </div>
            </div>
          </div>

        </div>
        <div class="mt-12 sm:mt-16 lg:mt-0">
          <div class="pl-4 -mr-48 sm:pl-6 md:-mr-16 lg:px-0 lg:m-0 lg:relative lg:h-full">
            <img class="w-full rounded-xl lg:absolute lg:left-0 lg:h-full lg:w-auto lg:max-w-none" src="https://res.cloudinary.com/packs4jobs/image/upload/c_fit,w_1920,x_168/v1637232501/ft3_fpjusp.png" alt="Inbox user interface">
          </div>
        </div>
      </div>
    </div>

    <!-- Functiecategoriën -->
<!-- This example requires Tailwind CSS v2.0+ -->
<div class="bg-indigo-700">
  <div class="max-w-4xl mx-auto px-4 py-16 sm:px-6 sm:pt-20 sm:pb-24 lg:max-w-7xl lg:pt-24 lg:px-8">
    <h2 class="text-3xl dmdisplay font-extrabold text-white tracking-tight">
      Toucher les bons candidats d'une façon supérieure.
    </h2>
    <p class="mt-4 max-w-3xl text-lg text-indigo-200">
      On vous aide à identifier le groupe cible pour tout type d'offre d'emploi, rédiger une campagne attirante et maximiser votre visibilité.
    </p>
    <div class="mt-12 grid grid-cols-1 gap-x-6 gap-y-12 sm:grid-cols-2 lg:mt-16 lg:grid-cols-4 lg:gap-x-8 lg:gap-y-16">
      <div>
        <div>
          <span class="flex items-center justify-center h-12 w-12 rounded-md bg-white bg-opacity-10">
            <!-- Heroicon name: outline/inbox -->
            <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 13V6a2 2 0 00-2-2H6a2 2 0 00-2 2v7m16 0v5a2 2 0 01-2 2H6a2 2 0 01-2-2v-5m16 0h-2.586a1 1 0 00-.707.293l-2.414 2.414a1 1 0 01-.707.293h-3.172a1 1 0 01-.707-.293l-2.414-2.414A1 1 0 006.586 13H4" />
            </svg>
          </span>
        </div>
        <div class="mt-6">
          <h3 class="text-lg font-medium text-white">Vente & Marketing</h3>
          <p class="mt-2 text-xs text-indigo-200">
            #salesrepresentative #customerservice #marketingspecialist #salesmanager #vendeuretail #accountmanager #technicalsales #seoconsultant #sales #communityspecialist #...
          </p>
        </div>
      </div>

      <div>
        <div>
          <span class="flex items-center justify-center h-12 w-12 rounded-md bg-white bg-opacity-10">
            <!-- Heroicon name: outline/users -->
            <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z" />
            </svg>
          </span>
        </div>
        <div class="mt-6">
          <h3 class="text-lg font-medium text-white">Technique et Ingénierie</h3>
          <p class="mt-2 text-xs text-indigo-200">
            #technicienindustriel #ingénieurchimiste #technicalengineer #operateure #cto #engineer #technicienservice #...
          </p>
        </div>
      </div>

      <div>
        <div>
          <span class="flex items-center justify-center h-12 w-12 rounded-md bg-white bg-opacity-10">
            <!-- Heroicon name: outline/trash -->
            <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
            </svg>
          </span>
        </div>
        <div class="mt-6">
          <h3 class="text-lg font-medium text-white">Finance & Assurance</h3>
          <p class="mt-2 text-xs text-indigo-200">
            #generalledger #comptable #conseiller #gestionnaire #cfo #dataanalyst #financeconsultant #controller #auditor #...
          </p>
        </div>
      </div>

      <div>
        <div>
          <span class="flex items-center justify-center h-12 w-12 rounded-md bg-white bg-opacity-10">
            <!-- Heroicon name: outline/pencil-alt -->
            <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
            </svg>
          </span>
        </div>
        <div class="mt-6">
          <h3 class="text-lg font-medium text-white">Operationnel</h3>
          <p class="mt-2 text-xs text-indigo-200">
            #teamleader #operationsmanager #analystoperations #coo #qualityspecialist #...
          </p>
        </div>
      </div>

      <div>
        <div>
          <span class="flex items-center justify-center h-12 w-12 rounded-md bg-white bg-opacity-10">
            <!-- Heroicon name: outline/document-report -->
            <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 17v-2m3 2v-4m3 4v-6m2 10H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
            </svg>
          </span>
        </div>
        <div class="mt-6">
          <h3 class="text-lg font-medium text-white">Ressources Humaines</h3>
          <p class="mt-2 text-xs text-indigo-200">
           #recruiter #rh #managerrh #payrolconsultant #talentacquisitionmanager #headhunter #benifitsmanager #coach #hrbusinesspartner #hrmanager
          </p>
        </div>
      </div>

      <div>
        <div>
          <span class="flex items-center justify-center h-12 w-12 rounded-md bg-white bg-opacity-10">
            <!-- Heroicon name: outline/reply -->
            <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 10h10a8 8 0 018 8v2M3 10l6 6m-6-6l6-6" />
            </svg>
          </span>
        </div>
        <div class="mt-6">
          <h3 class="text-lg font-medium text-white">Management</h3>
          <p class="mt-2 text-xs text-indigo-200">
            #directeur #executive #ceo #coo #cto #cro #management #clevel #gérant #responsable #...
          </p>
        </div>
      </div>

      <div>
        <div>
          <span class="flex items-center justify-center h-12 w-12 rounded-md bg-white bg-opacity-10">
            <!-- Heroicon name: outline/chat-alt -->
            <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 10h.01M12 10h.01M16 10h.01M9 16H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-5l-5 5v-5z" />
            </svg>
          </span>
        </div>
        <div class="mt-6">
          <h3 class="text-lg font-medium text-white">Logistique</h3>
          <p class="mt-2 text-xs text-indigo-200">
            #dispatcher #logisticien #magasinier #chauffeur #préparateur #transport #coördinateur #...
          </p>
        </div>
      </div>

      <div>
        <div>
          <span class="flex items-center justify-center h-12 w-12 rounded-md bg-white bg-opacity-10">
            <!-- Heroicon name: outline/heart -->
            <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
            </svg>
          </span>
        </div>
        <div class="mt-6">
          <h3 class="text-lg font-medium text-white">10 ans d'experience avec tous les types de profils</h3>
          <p class="mt-2 text-xs text-indigo-200">
            #IT et Telecommunication #Administration #Audit
#Production #Construction #Artisanat
#Secrétariat #SupportAdministratif
#Transport #Logistique
#Banques #ServicesFinanciers #Assurance #Publicité
#Santé #Médecine #Social
#R&D #Science #RechercheScientifique
#DirectionGénérale
#Droit
#Conception #architecture
#Horeca#Tourisme
#Terre#Mer#Environnement #SantéAnimalière
#ServicesPublics
#FormationTraining
#MediaInformation
#Police #SécuritéProtection
          </p>
        </div>
      </div>
    </div>
  </div>
</div>


  <!-- More people... -->
</div>

<div class="relative bg-gray-900">
  <div class="h-80 absolute inset-x-0 bottom-0 xl:top-0 xl:h-full">
    <div class="h-full w-full xl:grid xl:grid-cols-2">
      <div class="h-full xl:relative xl:col-start-2">
        <img class="h-full w-full object-cover opacity-25 xl:absolute xl:inset-0" src="https://res.cloudinary.com/packs4jobs/image/upload/v1637236735/smilingischic-pitti-uomo-88-25_upc5mw.jpg" alt="People working on laptops">
        <div aria-hidden="true" class="absolute inset-x-0 top-0 h-32 bg-gradient-to-b from-gray-900 xl:inset-y-0 xl:left-0 xl:h-full xl:w-32 xl:bg-gradient-to-r"></div>
      </div>
    </div>
  </div>
  <div class="max-w-4xl mx-auto px-4 sm:px-6 lg:max-w-7xl lg:px-8 xl:grid xl:grid-cols-2 xl:grid-flow-col-dense xl:gap-x-8">
    <div class="relative pt-12 pb-64 sm:pt-24 sm:pb-64 xl:col-start-1 xl:pb-24">
      <h2 class="text-sm font-semibold tracking-wide uppercase">
        <span class="bg-gradient-to-r from-purple-300 to-indigo-300 bg-clip-text text-transparent">Notre expérience</span>
      </h2>
      <p class="mt-3 text-3xl dmdisplay font-extrabold text-white">Notre solution est basé sur 10 ans d'expérience de communication dans le recrutement.</p>
      <p class="mt-5 text-lg text-gray-300">Nous n'avons pas réinventé la roue,
        nous avons seulement amélioré les offres d'emploi. Atteindre les bons candidats n'a jamais été aussi difficile, et en même temps, les bons candidats n'ont jamais été aussi accessibles. Wizzy utilise une méthode familière, mais complètement différente.</p>
      <div class="mt-12 grid grid-cols-1 gap-y-12 gap-x-6 sm:grid-cols-2">
        
          <p>
            <span class="block text-2xl font-bold text-white">900+</span>
            <span class="mt-1 block text-base text-gray-300"><span class="font-medium text-white">Entreprises</span> PME et Multinationales</span>
          </p>
        
          <p>
            <span class="block text-2xl font-bold text-white">15+</span>
            <span class="mt-1 block text-base text-gray-300"><span class="font-medium text-white">Pays au tour du monde</span> Belgique, France, Espagne, Italie, Suisse, Brésil, Chine, États-Unis, Pays-bas, Allemagne, Turkey, Maroc, Dubai, ... </span>
          </p>
        
          <p>
            <span class="block text-2xl font-bold text-white">4.000+</span>
            <span class="mt-1 block text-base text-gray-300"><span class="font-medium text-white">Campagnes</span> lancer et gérer.</span>
          </p>
        
          <p>
            <span class="block text-2xl font-bold text-white">700k+</span>
            <span class="mt-1 block text-base text-gray-300"><span class="font-medium text-white">Candidatures</span> converties</span>
          </p>
        
      </div>
    </div>
  </div>
</div>

<div class="bg-white">
  <div class="max-w-4xl mx-auto py-16 px-4 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8 lg:flex lg:items-center lg:justify-between">
    <h2 class="text-4xl font-extrabold dmdisplay tracking-tight text-gray-900 sm:text-4xl">
      <span class="block">Vous voulez plus de candidats?</span>
      <span class="block bg-gradient-to-r from-purple-600 to-indigo-600 bg-clip-text text-transparent dmdisplay ">Contactez-nous maintenant.</span>
    </h2>
    <div class="mt-6 space-y-4 sm:space-y-0 sm:flex sm:space-x-5">
      <a href="#" class="dmdisplay flex items-center justify-center bg-gradient-to-r from-purple-600 to-indigo-600 bg-origin-border px-4 py-3 border border-transparent text-base font-medium rounded-md shadow-sm text-white hover:from-purple-700 hover:to-indigo-700">
        Parler à un spécialiste
      </a>
      <a href="#" class=" dmdisplay flex items-center justify-center px-4 py-3 border border-transparent text-base font-medium rounded-md shadow-sm text-indigo-800 bg-indigo-50 hover:bg-indigo-100">
        Commencer à recruter
      </a>
    </div>
  </div>
</div>
