      <div class="mt-16 mx-auto max-w-7xl px-4 sm:mt-24 sm:px-6">
        <div class="text-center">
          <h1 class="text-4xl dmdisplay tracking-tight font-extrabold text-gray-900 sm:text-5xl md:text-6xl">
            <span class="block">Nous n'avons pas réinventé la roue,</span>
            <span class="block text-indigo-600">nous avons seulement amélioré les offres d'emploi.</span>
          </h1>
          <p class="mt-3 max-w-md mx-auto text-base text-gray-500 sm:text-lg md:mt-5 md:text-xl md:max-w-3xl">
            Atteindre les bons candidats n'a jamais été aussi difficile, et en même temps, les bons candidats n'ont jamais été aussi accessibles. Wizzy utilise une méthode familière, mais complètement différente.
          </p>
        </div>
      </div>
    </div>

    <div class="relative mt-3">
      <div class="absolute inset-0 flex flex-col" aria-hidden="true">
        <div class="flex-1"></div>
        <div class="flex-1"></div>
      </div>
      <div class="max-w-7xl mx-auto px-4 sm:px-6">
        <%= image_tag("hero_how.svg", size: "1500x700", alt: "Edit Entry") %>
      </div>
    </div>

 <!-- This example requires Tailwind CSS v2.0+ -->
<div class="bg-white">
  <div class="max-w-2xl mx-auto text-center py-16 px-4 sm:py-20 sm:px-6 lg:px-8">
    <h2 class="text-3xl dmdisplay font-extrabold text-dark sm:text-4xl">
      <span class="block">Vous êtes curieux ?</span>
      <span class="block">Vous avez 17 minutes ?</span>
    </h2>
    <p class="mt-4 text-lg leading-6 text-indigo-700">Nos accompagnements personnalisés vous permettent de vous concentrer sur ce qui compte vraiment : <span class="font-extrabold text-yellow-400 ">la sélection des candidats</span>. En collaborant avec Wizzy, vous vous assurez donc un gain de temps et d’argent.</p>
    <a href="#" class="mt-8 dmdisplay w-full inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-white bg-indigo-700 hover:bg-yellow-400 sm:w-auto">
      Demandez une démo adaptée à votre offre d’emploi
    </a>
  </div>
</div>

<!--
  This example requires Tailwind CSS v2.0+ 
  
  This example requires some changes to your config:
  
  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/aspect-ratio'),
    ],
  }
  ```
-->
<div class="bg-white">
  <div class="max-w-7xl mx-auto py-16 px-4 sm:px-6 lg:px-8">
    <div class="bg-indigo-700 rounded-lg shadow-xl overflow-hidden lg:grid lg:grid-cols-2 lg:gap-4">
      <div class="pt-10 pb-12 px-6 sm:pt-16 sm:px-16 lg:py-16 lg:pr-0 xl:py-20 xl:px-20">
        <div class="lg:self-center">
          <h2 class="text-3xl font-extrabold text-white sm:text-4xl">
            <span class="block dmdisplay">Tout commence par savoir exactement qui vous recherchez</span>
          </h2>
          <p class="mt-4 text-lg leading-6 text-indigo-200">La première étape d'une offre d'emploi réussie est la configuration du profil du candidat idéal, ou ICP. C'est là que vous déterminez pleinement le CV, la génération et la personnalité que votre candidat devrait idéalement avoir.</p>
          <a href="#" class="mt-8 bg-white dmdisplay border border-transparent rounded-md shadow px-5 py-3 inline-flex items-center text-base font-medium text-indigo-600 hover:bg-indigo-50">Demo live</a>
        </div>
      </div>
      <div class="-mt-6 aspect-w-5 aspect-h-3 md:aspect-w-2 md:aspect-h-1">
        <img class="transform translate-x-6 translate-y-6 rounded-md object-cover object-left-top sm:translate-x-16 lg:translate-y-20" src="https://res.cloudinary.com/packs4jobs/image/upload/v1637237515/ft_wyjfx1.png" alt="App screenshot">
      </div>
    </div>
  </div>
</div>

<div class="bg-white">
  <div class="max-w-7xl mx-auto py-16 px-4 sm:px-6 lg:px-8">
    <div class="bg-indigo-700 rounded-lg shadow-xl overflow-hidden lg:grid lg:grid-cols-2 lg:gap-4">
      <div class="pt-10 pb-12 px-6 sm:pt-16 sm:px-16 lg:py-16 lg:pr-0 xl:py-20 xl:px-20">
        <div class="lg:self-center">
          <h2 class="text-3xl font-extrabold text-white sm:text-4xl">
            <span class="block dmdisplay">L'offre d'emploi est entièrement conçue pour atteindre et attirer le bon candidat</span>
          </h2>
          <p class="mt-4 text-lg leading-6 text-indigo-200">La forme, le choix de la couleur, la police, … Tous ces éléments jouent un rôle dans la perception que votre candidat aura de votre offre d’emploi. En sachant quelle personnalité vous recherchez, vous savez donc sur quels éléments il portera son attention.</p>
          <a href="#" class="mt-8 bg-white dmdisplay border border-transparent rounded-md shadow px-5 py-3 inline-flex items-center text-base font-medium text-indigo-600 hover:bg-indigo-50">Demo live</a>
        </div>
      </div>
      <div class="-mt-6 aspect-w-5 aspect-h-3 md:aspect-w-2 md:aspect-h-1">
        <img class="transform translate-x-6 translate-y-6 rounded-md object-cover object-left-top sm:translate-x-16 lg:translate-y-20" src="https://res.cloudinary.com/packs4jobs/image/upload/v1637242086/ft_uhcxtj.png" alt="App screenshot">
    </div>
  </div>
</div>

<div class="bg-white">
  <div class="max-w-7xl mx-auto py-16 px-4 sm:px-6 lg:px-8">
    <div class="bg-indigo-700 rounded-lg shadow-xl overflow-hidden lg:grid lg:grid-cols-2 lg:gap-4">
      <div class="pt-10 pb-12 px-6 sm:pt-16 sm:px-16 lg:py-16 lg:pr-0 xl:py-20 xl:px-20">
        <div class="lg:self-center">
          <h2 class="text-3xl font-extrabold text-white sm:text-4xl">
            <span class="block dmdisplay">Une offre d’emploi à travers une campagne de 30 jours</span>
          </h2>
          <p class="mt-4 text-lg leading-6 text-indigo-200">Nos conseillers vous accompagnent pendant 30 jours et échangent avec vous de manière hebdomadaire afin d’assurer une optimisation constante de votre campagne. Tout est mis en place afin d’attirer la perle rare dans votre entreprise.</p>
          <a href="#" class="mt-8 bg-white dmdisplay border border-transparent rounded-md shadow px-5 py-3 inline-flex items-center text-base font-medium text-indigo-600 hover:bg-indigo-50">Demo live</a>
        </div>
      </div>
      <div class="-mt-6 aspect-w-5 aspect-h-3 md:aspect-w-2 md:aspect-h-1">
        <img class="transform translate-x-6 translate-y-6 rounded-md object-cover object-left-top sm:translate-x-16 lg:translate-y-20" src="https://res.cloudinary.com/packs4jobs/image/upload/v1637237666/ft_fk3snv.png" alt="App screenshot">
    </div>
  </div>
</div>

<div class="bg-white">
  <div class="max-w-7xl mx-auto py-16 px-4 sm:px-6 lg:px-8">
    <div class="bg-indigo-700 rounded-lg shadow-xl overflow-hidden lg:grid lg:grid-cols-2 lg:gap-4">
      <div class="pt-10 pb-12 px-6 sm:pt-16 sm:px-16 lg:py-16 lg:pr-0 xl:py-20 xl:px-20">
        <div class="lg:self-center">
          <h2 class="text-3xl font-extrabold text-white sm:text-4xl">
            <span class="block dmdisplay">Vous sélectionnez les meilleurs candidats</span>
          </h2>
          <p class="mt-4 text-lg leading-6 text-indigo-200">Nous avons créé une plateforme vous permettant de centraliser toutes les données et les CV de votre campagne. De plus, un pré scoring des candidatures est établi afin de vous faire gagner du temps. Concentrez-vous uniquement sur la sélection finale des candidats. Et ce n'est que la partie visible de l'iceberg. Votre travail est entièrement pris en charge - site d'emploi personnalisé, tableau de bord complet avec statistiques, soutien hebdomadaire d'un gestionnaire de campagne Wizzy - pas de travail pour vous. Wizzy est unique.</p>
          <a href="#" class="mt-8 bg-white dmdisplay border border-transparent rounded-md shadow px-5 py-3 inline-flex items-center text-base font-medium text-indigo-600 hover:bg-indigo-50">Demo live</a>
        </div>
      </div>
      <div class="-mt-6 aspect-w-5 aspect-h-3 md:aspect-w-2 md:aspect-h-1">
        <img class="transform translate-x-6 translate-y-6 rounded-md object-cover object-left-top sm:translate-x-16 lg:translate-y-20" src="https://res.cloudinary.com/packs4jobs/image/upload/v1637241552/ft_yhtf2k.png" alt="App screenshot">
    </div>
  </div>
</div>

<!-- This example requires Tailwind CSS v2.0+ -->
<div class="bg-white">
  <div class="max-w-7xl mx-auto text-center py-12 px-4 sm:px-6 lg:py-16 lg:px-8">
    <h2 class="text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl">
      <span class="block dmdisplay">Et ce n’est que la face visible de l’iceberg.</span>
    </h2>
        <p class="">Votre offre d’emploi est entièrement retravaillée, optimisée et prise en charge. Un site d’emploi personnalise, un tableau de bord avec KPI, un accompagnement hebdomadaire de la part d’un spécialiste Wizzy.<br>Concentrez-vous uniquement sur ce qui compte : la sélection d’un candidat.</p>
        <div class="mt-8 flex justify-center">
      <div class="inline-flex rounded-md shadow">
        <a href="#" class="inline-flex dmdisplay items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700">
          Voyez la différence grace à Wizzy
        </a>
      </div>
      <div class="ml-3 inline-flex">
        <a href="#" class="inline-flex dmdisplay items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-indigo-700 bg-indigo-100 hover:bg-indigo-200">
          Demandez votre démo
        </a>
      </div>
    </div>
  </div>
</div>
