<!-- This example requires Tailwind CSS v2.0+ -->
<div class="bg-white">
  <div class="pt-12 px-4 sm:px-6 lg:px-8 lg:pt-20">
    <div class="text-center">
      <p class="text-4xl dmdisplay tracking-tight font-bold text-gray-900 sm:text-5xl md:text-6xl">
      Simple et Avantageux
      </p>
      <p class="mt-3 max-w-4xl mx-auto dmdisplay text-xl text-gray-300 sm:mt-5 sm:text-2xl">
      Nous ne vendons pas de crédits d'emploi. Nous ne vendons pas de candidat. Nous ne vendons pas de base de données de CV.<br><span class="font-bold text-indigo-700">Nous veillons à ce que votre offre d'emploi atteigne les bons candidats.</span>

    </p>
    </div>
  </div>

  <div class="mt-16 bg-white pb-12 lg:mt-20 lg:pb-20">
    <div class="relative z-0">
      <div class="absolute inset-0 h-5/6 bg-white lg:h-2/3"></div>
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="relative lg:grid lg:grid-cols-7">
          <div class=" border-2 mx-auto max-w-md lg:mx-0 lg:max-w-none lg:col-start-1 lg:col-end-3 lg:row-start-2 lg:row-end-3">
            <div class="h-full flex flex-col rounded-lg shadow-lg overflow-hidden lg:rounded-none lg:rounded-l-lg">
              <div class="flex-1 flex flex-col">
                <div class="bg-white px-6 py-10">
                  <div>
                    <h3 class="text-center dmdisplay text-2xl font-medium text-gray-900 " id="tier-hobby">
                      Talent Acquisition Plan
                    </h3>
                    <div class="mt-4 flex items-center justify-center">
                      <span class="px-3 flex items-start text-6xl tracking-tight text-gray-900">
                        <span class="mt-2 mr-2 text-4xl font-medium">
                          €
                        </span>
                        <span class="font-extrabold">
                          995
                        </span>
                      </span>
                      <span class="text-xl font-medium text-gray-500">
                        /annonce
                      </span>
                    </div>
                  </div>
                </div>
                <div class="flex-1 flex flex-col justify-between border-t-2 border-gray-100 p-6 bg-gray-50 sm:p-10 lg:p-6 xl:p-10">
                  <ul role="list" class="space-y-4">
                    <li class="flex items-start">
                      <div class="flex-shrink-0">
                        <!-- Heroicon name: outline/check -->
                        <svg class="flex-shrink-0 h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                        </svg>
                      </div>
                      <p class="ml-3 text-base font-medium text-gray-500">
                        Aperçu complet de la stratégie de recrutement
                      </p>
                    </li>

                    <li class="flex items-start">
                      <div class="flex-shrink-0">
                        <!-- Heroicon name: outline/check -->
                        <svg class="flex-shrink-0 h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                        </svg>
                      </div>
                      <p class="ml-3 text-base font-medium text-gray-500">
                        Le quoi, le pourquoi et le comment de la communication en matière de recrutement
                      </p>
                    </li>


                  </ul>
                  <div class="mt-8">
                    <div class="rounded-lg shadow-md">
                      <a href="https://calendly.com/wizzyhr" class="block dmdisplay w-full text-center rounded-lg border border-transparent bg-white px-6 py-3 text-base font-medium text-indigo-600 hover:bg-gray-50" aria-describedby="tier-hobby">
                        Commencer ici
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="mt-10 max-w-lg mx-auto lg:mt-0 lg:max-w-none lg:mx-0 lg:col-start-3 lg:col-end-6 lg:row-start-1 lg:row-end-4">
            <div class="relative z-10 rounded-lg shadow-xl">
              <div class="pointer-events-none absolute inset-0 rounded-lg border-2 border-indigo-600" aria-hidden="true"></div>
              <div class="absolute inset-x-0 top-0 transform translate-y-px">
                <div class="flex justify-center transform -translate-y-1/2">
                  <span class="inline-flex rounded-full bg-indigo-600 px-4 py-1 text-sm font-semibold tracking-wider uppercase text-white">
                    Recommandé
                  </span>
                </div>
              </div>
              <div class="bg-white rounded-t-lg px-6 pt-12 pb-10">
                <div>
                  <h3 class="text-center dmdisplay text-3xl font-semibold text-gray-900 sm:-mx-6" id="tier-growth">
                    Campagne
                  </h3>
                  <div class="mt-4 flex items-center justify-center">
                    <span class="px-3 flex items-start text-6xl tracking-tight text-gray-900 sm:text-6xl">
                      <span class="mt-2 mr-2 text-4xl font-medium">
                        €
                      </span>
                      <span class="font-extrabold">
                        2.995
                      </span>
                    </span>
                    <span class="text-2xl font-medium text-gray-500">
                      /annonce
                    </span>
                  </div>
                </div>
              </div>
              <div class="border-t-2 border-gray-100 rounded-b-lg pt-10 pb-8 px-6 bg-gray-50 sm:px-10 sm:py-10">
                <ul role="list" class="space-y-4">
                  <li class="flex items-start">
                    <div class="flex-shrink-0">
                      <!-- Heroicon name: outline/check -->
                      <svg class="flex-shrink-0 h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                      </svg>
                    </div>
                    <p class="ml-3 text-base font-medium text-gray-500">
                      Identification de votre ICP (Ideal Candidate Profile)
                    </p>
                  </li>

                  <li class="flex items-start">
                    <div class="flex-shrink-0">
                      <!-- Heroicon name: outline/check -->
                      <svg class="flex-shrink-0 h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                      </svg>
                    </div>
                    <p class="ml-3 text-base font-medium text-gray-500">
                      Conception et rédaction de textes et d'images d'offres d'emploi
                    </p>
                  </li>

                  <li class="flex items-start">
                    <div class="flex-shrink-0">
                      <!-- Heroicon name: outline/check -->
                      <svg class="flex-shrink-0 h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                      </svg>
                    </div>
                    <p class="ml-3 text-base font-medium text-gray-500">
                        Media: Facebook/Instagram, Google & LinkedIn
                    </p>
                  </li>

                  <li class="flex items-start">
                    <div class="flex-shrink-0">
                      <!-- Heroicon name: outline/check -->
                      <svg class="flex-shrink-0 h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                      </svg>
                    </div>
                    <p class="ml-3 text-base font-medium text-gray-500">
                        Statistics 24/7
                    </p>
                  </li>

                  <li class="flex items-start">
                    <div class="flex-shrink-0">
                      <!-- Heroicon name: outline/check -->
                      <svg class="flex-shrink-0 h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                      </svg>
                    </div>
                    <p class="ml-3 text-base font-medium text-gray-500">
                      Portail de gestion des candidats
                    </p>
                  </li>

                  <li class="flex items-start">
                    <div class="flex-shrink-0">
                      <!-- Heroicon name: outline/check -->
                      <svg class="flex-shrink-0 h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                      </svg>
                    </div>
                    <p class="ml-3 text-base font-medium text-gray-500">
                      Plan de recrutement sur mesure étape par étape
                    </p>
                  </li>

                  <li class="flex items-start">
                    <div class="flex-shrink-0">
                      <!-- Heroicon name: outline/check -->
                      <svg class="flex-shrink-0 h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                      </svg>
                    </div>
                    <p class="ml-3 text-base font-medium text-gray-500">
                      SEO de l'offre d'emploi
                    </p>
                  </li>

                  <li class="flex items-start">
                    <div class="flex-shrink-0">
                      <!-- Heroicon name: outline/check -->
                      <svg class="flex-shrink-0 h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                      </svg>
                    </div>
                    <p class="ml-3 text-base font-medium text-gray-500">
                      Site d'emploi personnalisé
                    </p>
                  </li>

                  <li class="flex items-start">
                    <div class="flex-shrink-0">
                      <!-- Heroicon name: outline/check -->
                      <svg class="flex-shrink-0 h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                      </svg>
                    </div>
                    <p class="ml-3 text-base font-medium text-gray-500">
                        Feedback hebdomadaire 
                    </p>
                  </li>

                  <li class="flex items-start">
                    <div class="flex-shrink-0">
                      <!-- Heroicon name: outline/check -->
                      <svg class="flex-shrink-0 h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                      </svg>
                    </div>
                    <p class="ml-3 text-base font-medium text-gray-500">
                      Pré-scoring des candidatures
                    </p>
                  </li>

                  <li class="flex items-start">
                    <div class="flex-shrink-0">
                      <!-- Heroicon name: outline/check -->
                      <svg class="flex-shrink-0 h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                      </svg>
                    </div>
                    <p class="ml-3 text-base font-medium text-gray-500">
                      30 jours de campagne
                    </p>
                  </li>


                </ul>
                <div class="mt-10">
                  <div class="rounded-lg shadow-md">
                    <a href=""https://calendly.com/wizzyhr"" class="block dmdisplay w-full text-center rounded-lg border border-transparent bg-gradient-to-r from-purple-600 to-indigo-600 px-6 py-4 text-xl leading-6 font-medium text-white hover:bg-indigo-700" aria-describedby="tier-growth">
                      Commencer ici
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="border-2  mt-10 mx-auto max-w-md lg:m-0 lg:max-w-none lg:col-start-6 lg:col-end-8 lg:row-start-2 lg:row-end-3">
            <div class="h-full flex flex-col rounded-lg shadow-lg overflow-hidden lg:rounded-none lg:rounded-r-lg">
              <div class="flex-1 flex flex-col">
                <div class="bg-white px-6 py-10">
                  <div>
                    <h3 class="text-center text-2xl font-bold text-gray-900 dmdisplay" id="tier-scale">
                      Illimité
                    </h3>
                    <div class="mt-4 flex items-center justify-center">
                      <span class="px-3 flex items-start text-3xl tracking-tight text-gray-900">
                        <span class="mt-2 mr-2 text-4xl font-medium">
                          
                        </span>
                        <span class="font-extrabold">
                          Prix ​​sur mesure
                        </span>
                      </span>
                      <span class="text-xl font-medium text-gray-500">
                      </span>
                    </div>
                  </div>
                </div>
                <div class="flex-1 flex flex-col justify-between border-t-2 border-gray-100 p-6 bg-gray-50 sm:p-10 lg:p-6 xl:p-10">
                  <ul role="list" class="space-y-4">
                    <li class="flex items-start">
                      <div class="flex-shrink-0">
                        <!-- Heroicon name: outline/check -->
                        <svg class="flex-shrink-0 h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                        </svg>
                      </div>
                      <p class="ml-3 text-base font-medium text-gray-500">
                        Recrutement illimité pendant 6 mois
                      </p>
                    </li>

                    <li class="flex items-start">
                      <div class="flex-shrink-0">
                        <!-- Heroicon name: outline/check -->
                        <svg class="flex-shrink-0 h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                        </svg>
                      </div>
                      <p class="ml-3 text-base font-medium text-gray-500">
                        Tous les services d'une campagne inclus
                      </p>
                    </li>

                    <li class="flex items-start">
                      <div class="flex-shrink-0">
                        <!-- Heroicon name: outline/check -->
                        <svg class="flex-shrink-0 h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                        </svg>
                      </div>
                      <p class="ml-3 text-base font-medium text-gray-500">
                        Stratégie de recrutement sur mesure.
                      </p>
                    </li>
                  </ul>
                  <div class="mt-8">
                    <div class="rounded-lg shadow-md">
                      <a href="https://calendly.com/wizzyhr" class="block dmdisplay w-full text-center rounded-lg border border-transparent bg-white px-6 py-3 text-base font-medium text-indigo-600 hover:bg-gray-50" aria-describedby="tier-scale">
                        Commencer ici
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- This example requires Tailwind CSS v2.0+ -->
<div class="bg-white">
    <div class="max-w-3xl mx-auto py-2 px-4 sm:py-2 sm:px-6 lg:px-8">
      <h2 class="text-5xl dmdisplay font-extrabold text-gray-900 text-center">
        Questions fréquentes
      </h2>
      <div class="mt-10 text-center p-5 space-y-10">
        <dl class="space-y-5">
          <div>
            <dt class="text-3xl dmdisplay leading-6 font-bold font-medium text-indigo-600">
              Quelle garantie de succès Wizzy offre-t-il ?
            </dt>
            <dd class="mt-2 text-lg text-gray-500">
              Wizzy vous garantit que vos chances d'atteindre le bon candidat sont maximisées. Nous ne garantissons pas que le candidat rejoindra effectivement votre entreprise
commencer. Avec les services Wizzy, vous atteignez les bons candidats, économisez du temps, de l'argent et maximisez la notoriété de votre marque.
            </dd>
          </div>
  
          <!-- More questions... -->
        </dl>

        <dl class="space-y-5">
            <div>
              <dt class="text-3xl dmdisplay leading-6 font-bold font-medium text-indigo-600">
                Les campagnes ont-elles mon logo et le nom de mon entreprise ?
              </dt>
              <dd class="mt-2 text-lg text-gray-500">
                Wizzy publie les campagnes avec le nom et le logo de votre entreprise. Nous agissons toujours en fonction de votre entreprise afin que votre
l'entreprise entre en scène et votre marque employeur ou votre image d'employeur grandit et devient plus forte.
              </dd>
            </div>
    
            <!-- More questions... -->
          </dl>

          <dl class="space-y-5">
            <div>
              <dt class="text-3xl dmdisplay leading-6 font-bold font-medium text-indigo-600">
                Puis-je combiner plusieurs offres d'emploi dans une même campagne ?
              </dt>
              <dd class="mt-2 text-lg text-gray-500">
                Il n'est pas possible d'atteindre les bons candidats avec différents postes vacants dans la même campagne, car chaque poste vacant est unique. C'est pourquoi nous avons une solution dans laquelle vous pouvez lancer des campagnes illimitées pendant 6 mois.              </dd>
            </div>
    
            <!-- More questions... -->
          </dl>

          <dl class="space-y-5">
            <div>
              <dt class="text-3xl dmdisplay leading-6 font-bold font-medium text-indigo-600">
                Wizzy sert-il de médiateur entre l'employeur et le candidat ?
              </dt>
              <dd class="mt-2 text-lg text-gray-500">
                Wizzy n'a pas de contact direct avec les candidats, car Wizzy n'est pas un bureau d'intérim, de recrutement ou de sélection.            </dd>
            </div>
    
            <!-- More questions... -->
          </dl>

          <dl class="space-y-5">
            <div>
              <dt class="text-3xl dmdisplay leading-6 font-bold font-medium text-indigo-600">
                Dans quels pays Wizzy est-il actif ?
              </dt>
              <dd class="mt-2 text-lg text-gray-500">
                Notre solution atteint les candidats du monde entier en ligne, c'est pourquoi nous sommes actifs à l'international.
            </dd>
            </div>
    
            <!-- More questions... -->
          </dl>

          <dl class="space-y-5">
            <div>
              <dt class="text-3xl dmdisplay leading-6 font-bold font-medium text-indigo-600">
                Wizzy est-il spécialisé dans un secteur particulier ou des fonctions spécifiques ?
              </dt>
              <dd class="mt-2 text-lg text-gray-500">
                Wizzy est à l'aise sur tous les marchés. De la construction au gouvernement et des grandes multinationales à la boulangerie du coin. Nous avons un ready-made pour chaque secteur ou fonction
                 réponse.
              </dd>
            </div>
    
            <!-- More questions... -->
          </dl>

          <dl class="space-y-5">
            <div>
              <dt class="text-3xl dmdisplay leading-6 font-bold font-medium text-indigo-600">
                Wizzy travaille-t-il avec des bureaux d'intérim, de recrutement et de sélection ?
              </dt>
              <dd class="mt-2 text-lg text-gray-500">
                Les bureaux d'intérim, de recrutement, de sélection et même de chasse de tête font souvent appel à nos services. Ils trouvent important d'atteindre les candidats de manière objective.            </dd>
            </div>
    
            <!-- More questions... -->
          </dl>

          <dl class="space-y-5">
            <div>
              <dt class="text-3xl dmdisplay leading-6 font-bold font-medium text-indigo-600">
                Que faire si je ne trouve pas mon candidat ?
              </dt>
              <dd class="mt-2 text-lg text-gray-500">
                Cela peut être dû à plusieurs facteurs. Nous fournissons un soutien continu pendant la campagne de recrutement pour maximiser les opportunités. Wizzy ne trouvera pas de candidats pour vous, nous veillerons à ce que l'offre d'emploi atteigne les bons candidats.            </dd>
            </div>
    
            <!-- More questions... -->
          </dl>

          <dl class="space-y-5">
            <div>
              <dt class="text-3xl dmdisplay font-bold leading-6 font-medium text-indigo-600">
                Les prix sont-ils TTC ou hors TVA ?
              </dt>
              <dd class="mt-2 text-lg text-gray-500">
                Les prix sont toujours communiqués hors TVA.
            </dd>
            </div>
    
            <!-- More questions... -->
          </dl>

          <dl class="space-y-5">
            <div>
              <dt class="text-3xl dmdisplay leading-6 font-bold font-medium text-indigo-600">
                Et si j'ai d'autres questions ?
              </dt>
              <dd class="mt-2 text-lg text-gray-500">
                Envoyez-nous votre question à support@wizzy.hr et nous vous aiderons davantage.
            </dd>
            </div>
    
            <!-- More questions... -->
          </dl>



      </div>
    </div>
  </div>

  <div class="bg-white">
  <div class="max-w-4xl mx-auto py-16 px-4 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8 lg:flex lg:items-center lg:justify-between">
    <h2 class="text-4xl font-extrabold dmdisplay tracking-tight text-gray-900 sm:text-4xl">
      <span class="block">Vous voulez plus de candidats?</span>
      <span class="block bg-gradient-to-r from-purple-600 to-indigo-600 bg-clip-text text-transparent dmdisplay ">Contactez-nous maintenant.</span>
    </h2>
    <div class="mt-6 space-y-4 sm:space-y-0 sm:flex sm:space-x-5">
      <a href="#" class="dmdisplay flex items-center justify-center bg-gradient-to-r from-purple-600 to-indigo-600 bg-origin-border px-4 py-3 border border-transparent text-base font-medium rounded-md shadow-sm text-white hover:from-purple-700 hover:to-indigo-700">
        Parler à un spécialiste
      </a>
      <a href="#" class=" dmdisplay flex items-center justify-center px-4 py-3 border border-transparent text-base font-medium rounded-md shadow-sm text-indigo-800 bg-indigo-50 hover:bg-indigo-100">
        Commencer à recruter
      </a>
    </div>
  </div>
</div>